body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  background-attachment: fixed;
}
label {
  display: block;
  color: rgba(252, 252, 252, 0.9);
}
p {
  color: #fdcb06;
  font-size: 19px;
  font-weight: 500;
  text-shadow: 2px 2px 2px #1d2c5f;
  margin-bottom: 3px;
}
input {
  background-color: rgba(252, 252, 252, 0.8);
  border: 1px solid #2b6fb6;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #1d2c5f;
  color: #c11b1b;
  line-height: 25px;
  margin: 0px;
}
button {
  border-radius: 50px;
  border: 1px solid #2b6fb6;
  background: linear-gradient(to right, #24ccaa, #a2db95);
  color: #ffffff;
  font-weight: 400;
  padding: 3px 10px;
  box-shadow: 1px 1px 2px #1d2c5f;
  transition: all 100ms linear;
}
button:hover {
  background: white;
  background: linear-gradient(to right, #a2db95, #24ccaa);
  border: 1px solid #2b6fb6;
}
img {
  max-width: 100px;
  padding: 5px 5px 0px;
}
img:hover {
  transform: scale(2);
  transition: all 100ms linear;
  cursor: zoom-in;
}
.container {
  margin: 0 auto;
  padding: 0px;
  max-width: 900px;
}
.row {
  margin: 0px 5px;
}
.province-country {
  margin: 0px 0px 0px 10px;
}
.subtitle,
.forecast-title {
  color: rgba(252, 252, 252, 0.9);
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}
.subtitle {
  margin-top: 10px;
  min-width: 361px;
  margin-bottom: 0px;
}
.info-tooltip {
  position: relative;
  display: inline-block;
}
.info-tooltip-text {
  visibility: hidden;
  width: 300px;
  background-color: rgba(252, 252, 252, 0.9);
  color: #757575;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  text-align: center;
  padding: 5px 0;
  border: solid #757575 1px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -20px;
  opacity: 0;
  transition: linear 100ms;
}
.info-tooltip:hover .info-tooltip-text {
  visibility: visible;
  opacity: 1;
}
.info-icon {
  font-size: 12px;
  color: rgba(252, 252, 252, 0.7);
}
.info-icon:hover {
  color: rgba(252, 252, 252, 0.9);
}
.search-button {
  margin: 0px;
}
.current-city {
  font-size: 80px;
  font-weight: 600;
  line-height: 100px;
  color: #fdcb06;
  text-shadow: 2px 2px 2px #1d2c5f;
  margin: 0px;
  padding: 0px;
}
.current-card {
  background-color: rgba(43, 111, 182, 0);
  border: none;
  margin-bottom: 10px;
}
.current-body {
  padding: 0px;
}
.current-info {
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  color: #e3edfb;
  margin-bottom: 10px;
}
.current-conditions {
  min-width: 401px;
  margin: 0 auto;
}
.current-conditions-title {
  padding-left: 70px;
  margin-top: 10px;
  color: #e3edfb;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 2px 2px 2px #1d2c5f;
}
.current-icon {
  font-size: 80px;
  line-height: 100px;
  display: inline;
  color: #fdcb06;
  text-shadow: 2px 2px 2px #1d2c5f;
}
.current-temperature,
.temperature-unit {
  font-size: 25px;
}
.current-temperature {
  color: #fdcb06;
  font-weight: 500;
  text-shadow: 2px 2px 2px #1d2c5f;
}
.temperature-unit {
  color: #240ece;
  font-weight: 400;
}
.active {
  font-weight: 600;
}
.inactive:hover {
  cursor: pointer;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.humidity-wind {
  font-size: 18px;
  line-height: 30px;
  color: #fdcb06;
  text-shadow: 1px 1px 2px #1d2c5f;
  margin-bottom: 5px;
}
.humidity {
  padding-left: 5px;
}
.humidity,
.wind {
  display: inline;
}
.humidity-title,
.wind-title {
  color: #240ece;
  text-shadow: none;
}
.wind {
  padding-left: 20px;
}
.pokemon {
  text-align: center;
  min-width: 100px;
  max-width: 350px;
  margin: 0 auto;
}
.pokemon-card {
  background-color: rgba(43, 111, 182, 0.9);
  border: 1px solid #e3edfb;
  box-shadow: 4px 3px 5px #1d2c5f;
  margin: 20px auto;
  max-width: 400px;
  min-width: 200px;
  max-height: 300px;
}
.pokemon-body {
  padding: 0px;
}
.weather-boost-title {
  padding: 5px 0px;
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 16px;
  color: #fdcb06;
  text-shadow: 1px 1px 2px #1d2c5f;
}
.pokemon-image {
  max-height: 75px;
  max-width: 75px;
}
.types {
  margin-bottom: 5px;
  font-size: 15px;
  color: #e3edfb;
}
.forecast-title {
  font-weight: 400;
  font-size: 19px;
}
.forecast-card {
  margin: 0px;
  padding: 0px;
  max-width: 1100px;
  min-height: 175px;
  border: 2px solid #2b6fb6;
  background: rgba(252, 252, 252, 0.7);
}
.card-body {
  text-align: center;
}
.forecast-day {
  min-width: 120px;
  padding: 0px;
  margin: 0px;
}
.forecast-day-of-the-week {
  color: #1f04ea;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.forecast-date {
  color: #c11b1b;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 10px;
}
.forecast-icon {
  font-size: 40px;
  line-height: 40px;
  color: #fdcb06;
  text-shadow: 1px 1px 4px #1d2c5f;
  margin-bottom: 10px;
}
.five-temp {
  font-size: 15px;
  font-weight: 400;
  color: #1f04ea;
}
.footer {
  color: rgba(252, 252, 252, 0.9);
  margin-top: 2px;
}
.link {
  color: rgba(36, 13, 206, 0.8);
  margin-left: 20px;
}
.link:hover {
  text-decoration: none;
  color: #fdcb06;
}
